/**/
*#XFramePlugin_MainFrm {
	border-image: url("./skin/default/images/frame_border.png") 29 3 3 3;
	background-image: url("./skin/default/images/uiplugin_bg.png"); /* 20091214: ashwin: <layoutmaginwidth>40</layoutmaginwidth> in xFrame\config.xml fix */
	border-top-width: 29px transparent;
	border-right-width: 3px transparent;
	border-bottom-width: 3px transparent;
	border-left-width: 3px transparent;
}

*#Core_ExtendDialogFrame {
	border-image: url("./skin/default/images/frame_child_border.png") 31 3 5 3;
	border-top-width: 31px;
	border-right-width: 3px;
	border-bottom-width: 5px;
	border-left-width: 3px;	
	background-image: url("./skin/default/images/uiplugin_bg.png");
}

QFocusFrame
{
    border-width: 1px;
}
*#DialupUIPlugin_widgetMainFrame {
background-image: url("./skin/default/images/connect_plugin_bg.png");
}

*#DialupUIPlugin_widgetMiniFrame {
background-image: url("./skin/default/images/connect_plugin_bg.png");

}

  

  
*#SettingUIPlugin_DialogSettingPlugin,
 *#SMSUIPlugin_WidgetcreateMsg, 
 *#NetInfoUIPlugin_WidgetParent, *#CallLogUIPlugin_callLogWidget, *#NetInfoRecordUIPlugin_ConnectionHistoryWidget,
 *#CallSettingDlg_WidgetGeneral, *#CallSettingDlgCdma_WidgetCallForward, *#CallSettingDlg_WidgetCallForwarding,
 *#CallSettingDlgCdma_WidgetCallWait, *#CallSettingDlgCdma_WidgetCallRest,
 *#CallUIDlg_WidgetMain{
   background-image: url("./skin/default/images/uiplugin_bg.png");
  }

*#SMS_WaitingDialogFrame, *#AddrBook_WaitingDialogFrame{
	border-image: url("./skin/default/images/frame_thinborder_bg.png") 2 2 2 2;
	border-top-width: 2px transparent;
	border-right-width: 2px transparent;
	border-bottom-width: 2px transparent;
	border-left-width: 2px transparent;
}

*#Core_LabelTitle { 
	color: white;
	font-family:Arial;
}

*#Core_ButtonClose {
	border: 1px;
	background-image: url(./skin/default/images/close_button_normal.png);
}

*#Core_ButtonClose:hover {
	background-image: url(./skin/default/images/close_button_hover.png);
}

*#Core_ButtonClose:pressed {
	background-image: url(./skin/default/images/close_button_press.png);
}

*#Core_ButtonClose:!enabled {
	background-image: url(./skin/default/images/close_button_disable.png);
}

*#Core_ButtonMinimize {
	border: 1px;
	background-image: url(./skin/default/images/minimum_normal.png);
}

*#Core_ButtonMinimize:hover {
	background-image: url(./skin/default/images/minimum_hover.png);
}

*#Core_ButtonMinimize:pressed {
	background-image: url(./skin/default/images/minimum_press.png);
}

*#Core_ButtonMinimize:!enabled {
	background-image: url(./skin/default/images/minimum_disable.png);
}

*#Core_ButtonMaximize {
	border: 1px;
	background-image: url(./skin/default/images/maximize_button_normal.png);
}

*#Core_ButtonMaximize:hover {
	background-image: url(./skin/default/images/maximize_button_hover.png);
}

*#Core_ButtonMaximize:pressed {
	background-image: url(./skin/default/images/maximize_button_press.png);
}

*#Core_ButtonMaximize:!enabled  {
	background-image: url(./skin/default/images/maximize_button_disable.png);
}

*#Core_ButtonRestore {
	border: 1px;
	background-image: url(./skin/default/images/restore_button_normal.png);
}

*#Core_ButtonRestore:hover {
	background-image: url(./skin/default/images/restore_button_hover.png);
}

*#Core_ButtonRestore:pressed {
	background-image: url(./skin/default/images/restore_button_press.png);
}

*#Core_ButtonRestore:!enabled  {
	background-image: url(./skin/default/images/restore_button_disable.png);
}

/*=======Begin 20100814  x51407 : set Mac TitleBar ====*/
*#Mac_Core_LabelTitle { 
	color: white;
	font-family:Arial;
}

*#Mac_Core_ButtonClose {
	border: 1px;
	background-image: url(./skin/default/images/mac/close_button_normal.png);
}

*#Mac_Core_ButtonClose:hover {
	background-image: url(./skin/default/images/mac/close_button_hover.png);
}

*#Mac_Core_ButtonClose:pressed {
	background-image: url(./skin/default/images/mac/close_button_press.png);
}

*#Mac_Core_ButtonClose:!enabled {
	background-image: url(./skin/default/images/mac/close_button_disable.png);
}

*#Mac_Core_ButtonMinimize {
	border: 1px;
	background-image: url(./skin/default/images/mac/minimum_normal.png);
}

*#Mac_Core_ButtonMinimize:hover {
	background-image: url(./skin/default/images/mac/minimum_hover.png);
}

*#Mac_Core_ButtonMinimize:pressed {
	background-image: url(./skin/default/images/mac/minimum_press.png);
}

*#Mac_Core_ButtonMinimize:!enabled {
	background-image: url(./skin/default/images/mac/minimum_disable.png);
}

*#Mac_Core_ButtonMaximize {
	border: 1px;
	background-image: url(./skin/default/images/mac/maximize_button_normal.png);
}

*#Mac_Core_ButtonMaximize:hover {
	background-image: url(./skin/default/images/mac/maximize_button_hover.png);
}

*#Mac_Core_ButtonMaximize:pressed {
	background-image: url(./skin/default/images/mac/maximize_button_press.png);
}

*#Mac_Core_ButtonMaximize:!enabled  {
	background-image: url(./skin/default/images/mac/maximize_button_disable.png);
}

*#Mac_Core_ButtonRestore {
	border: 1px;
	background-image: url(./skin/default/images/mac/restore_button_normal.png);
}

*#Mac_Core_ButtonRestore:hover {
	background-image: url(./skin/default/images/mac/restore_button_hover.png);
}

*#Mac_Core_ButtonRestore:pressed {
	background-image: url(./skin/default/images/mac/restore_button_press.png);
}

*#Mac_Core_ButtonRestore:!enabled  {
	background-image: url(./skin/default/images/mac/restore_button_disable.png);
}
/*=======End 20100814  x51407 : set Mac TitleBar ====*/


/*=======20100112  Parmod_72614 :A56D15027 : Set the size of the redial and cancel button ====*/






*#AddrBookUIPlugin_selectContacts_tableContacts {	
	border-image: url(./skin/default/images/edit_ctrl_border_line_box.png) 2 2 2 2;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	
		
}

/*20091229 Parmod_72614 Setting size of SmsSettingsUI Buttons Defect AJ2D15480 ============*/

/*29-12-2009 Rakesh 72410 To fix the HQ Defect - A56D15008 begin */

/*29-12-2009 Rakesh 72410 To fix the HQ Defect - A56D15008 End */

/*=============CallSettingsUI Buttons ============*/ /* Anjali_A72842 Language Issue Fix: 3052 Start */

/* Anjali_A72842 Language Issue Fix: 3052 End */

/*06-01-20101 Nilanjana_900337 To fix the HQ Defect - AJ2D15657 Begin */

/*===============NetInfoUI Buttons ==================*/
/*06-01-20101 Nilanjana_900337 To fix the HQ Defect - AJ2D15657 End */

/*=============CallUI Buttons ============*/
*#CallUIDlg_PushBtn0, *#CallUIDlg_PushBtn1, *#CallUIDlg_PushBtn2, *#CallUIDlg_PushBtn3,
 *#CallUIDlg_PushBtn4, *#CallUIDlg_PushBtn5, *#CallUIDlg_PushBtn6, *#CallUIDlg_PushBtn7,
 *#CallUIDlg_PushBtn8, *#CallUIDlg_PushBtn9, *#CallUIDlg_PushBtnCall, *#CallUIDlg_PushBtnVedioCall,
 *#CallUIDlg_PushBtnAddrBook, *#CallUIDlg_PushBtnClear, *#CallUIDlg_PushBtnPlus,
 *#CallUIDlg_PushBtnForward, *#CallUIDlg_PushBtnStar,*#CallUIDlg_PushBtnHash
 {
     min-width: 48px; min-height: 21px;
     border-image: url(./skin/default/images/call_button_normal.png);
     border-top: 2px transparent; border-bottom: 2px transparent; border-right: 2px transparent; border-left: 2px transparent;
 }
 
 *#CallUIDlg_PushBtnCallHang
 {
     min-width: 100px; min-height: 20px;
     border-image: url(./skin/default/images/call_button_normal.png);
     border-top: 2px transparent; border-bottom: 2px transparent; border-right: 2px transparent; border-left: 2px transparent;
 }
  *#CallUIDlg_WidgetCallDlg
  {
   	max-width: 280px;
  }
 *#CallUIDlg_WidgetVolume
 {
 	min-height: 29px;
 	min-width: 280px;
 	background-image: url(./skin/default/images/call_volume_bg.png);
 }
 
 *#CallUIDlg_PushBtnCallNoVedio, *#CallUIDlg_PushBtnCallHangNoVedio
 {
     min-width: 48px; min-height: 49px;
     border-image: url(./skin/default/images/call_button_normal.png);
     border-top: 2px transparent; border-bottom: 2px transparent; border-right: 2px transparent; border-left: 2px transparent;
 }
 
 *#CallUIDlg_PushBtn0:hover, *#CallUIDlg_PushBtn1:hover, *#CallUIDlg_PushBtn2:hover, *#CallUIDlg_PushBtn3:hover,
 *#CallUIDlg_PushBtn4:hover, *#CallUIDlg_PushBtn5:hover, *#CallUIDlg_PushBtn6:hover, *#CallUIDlg_PushBtn7:hover,
 *#CallUIDlg_PushBtn8:hover, *#CallUIDlg_PushBtn9:hover, *#CallUIDlg_PushBtnCall:hover, *#CallUIDlg_PushBtnVedioCall:hover,
 *#CallUIDlg_PushBtnCallHang:hover, *#CallUIDlg_PushBtnAddrBook:hover, *#CallUIDlg_PushBtnClear:hover, *#CallUIDlg_PushBtnPlus:hover,
 *#CallUIDlg_PushBtnForward:hover, *#CallUIDlg_PushBtnStar:hover,*#CallUIDlg_PushBtnHash:hover,
 *#CallUIDlg_PushBtnCallNoVedio:hover, *#CallUIDlg_PushBtnCallHangNoVedio:hover
 { 
	border-image: url(./skin/default/images/call_button_hover.png);
	color: white;
 }

 *#CallUIDlg_PushBtn0:pressed, *#CallUIDlg_PushBtn1:pressed, *#CallUIDlg_PushBtn2:pressed, *#CallUIDlg_PushBtn3:pressed,
 *#CallUIDlg_PushBtn4:pressed, *#CallUIDlg_PushBtn5:pressed, *#CallUIDlg_PushBtn6:pressed, *#CallUIDlg_PushBtn7:pressed,
 *#CallUIDlg_PushBtn8:pressed, *#CallUIDlg_PushBtn9:pressed, *#CallUIDlg_PushBtnCall:pressed, *#CallUIDlg_PushBtnVedioCall:pressed,
 *#CallUIDlg_PushBtnCallHang:pressed, *#CallUIDlg_PushBtnAddrBook:pressed, *#CallUIDlg_PushBtnClear:pressed, *#CallUIDlg_PushBtnPlus:pressed,
 *#CallUIDlg_PushBtnForward:pressed, *#CallUIDlg_PushBtnStar:pressed,*#CallUIDlg_PushBtnHash:pressed,
 *#CallUIDlg_PushBtnCallNoVedio:pressed, *#CallUIDlg_PushBtnCallHangNoVedio:pressed
 {
	border-image: url(./skin/default/images/call_button_pressed.png);
	color: white;
 }

 *#CallUIDlg_PushBtn0:!enabled, *#CallUIDlg_PushBtn1:!enabled, *#CallUIDlg_PushBtn2:!enabled, *#CallUIDlg_PushBtn3:!enabled,
 *#CallUIDlg_PushBtn4:!enabled, *#CallUIDlg_PushBtn5:!enabled, *#CallUIDlg_PushBtn6:!enabled, *#CallUIDlg_PushBtn7:!enabled,
 *#CallUIDlg_PushBtn8:!enabled, *#CallUIDlg_PushBtn9:!enabled, *#CallUIDlg_PushBtnCall:!enabled, *#CallUIDlg_PushBtnVedioCall:!enabled,
 *#CallUIDlg_PushBtnCallHang:!enabled, *#CallUIDlg_PushBtnAddrBook:!enabled, *#CallUIDlg_PushBtnClear:!enabled, *#CallUIDlg_PushBtnPlus:!enabled,
 *#CallUIDlg_PushBtnForward:!enabled, *#CallUIDlg_PushBtnStar:!enabled,*#CallUIDlg_PushBtnHash:!enabled,
 *#CallUIDlg_PushBtnCallNoVedio:!enabled, *#CallUIDlg_PushBtnCallHangNoVedio:!enabled
 { 
    border-image: url(./skin/default/images/call_button_disable.png);
 }

*#CallUIDlg_LineEditPhoneNum
{
	font-size: 16px;
}

*#CallUIDlg_LabelIdle
{
	min-width: 280px; min-height: 95px;
	border-image: url(./skin/default/images/call_idle_screen.png);	
}

*#CallUIDlg_VolumeSlider:groove:horizontal
{
	border-image: url(./skin/default/images/call_slider_groove.png) 0 0 0 0;
	height: 2px;
	margin: 2px 0;
}

*#CallUIDlg_VolumeSlider:handle:horizontal
{
     border-image: url(./skin/default/images/call_slider_handle.png) 0 0 0 0;
     margin: -7px 0;
     width: 7px;
}


/* 
 *#DiagnosticsUIPlugin_frameCdmaDiag { 
       border-image: url(./skin/default/images/tree_widget_bg_line_box.png) 2 2 2 2;
        border-top-width: 2px transparent;
	border-right-width: 2px transparent;
	border-bottom-width: 2px transparent;
	border-left-width: 2px transparent;
 }
 */
 
 *#SettingUIPlugin_Line, *#AboutUI_SeperatorLine {
  border-image: url(./skin/default/images/border_line.png);
 }

*#StatusBarMgrPlugin_widgetParent 	{ background-image: url(./skin/default/images/status_bar_ref.png); }

*#StatusBarMgrPlugin_labelSystemMode,*#StatusBarMgrPlugin_labelOperatorType,*#StatusBarMgrPlugin_labelUpSpeed,
*#StatusBarMgrPlugin_labelDownSpeed,*#StatusBarMgrPlugin_labelMiniNetConnect {
	color: white;
}

/* ========== Font Size ========== */
/* BT1764 fix - set the font size */
/* AJ2D12510: 20090918: karthik: begin setting menu bar font size...so that is fills it */
/* Set font size of all widgets other than qmenubar */
/*
QAbstractScrollArea, QCheckBox, QComboBox, QDockWidget, QFrame, QGroupBox, 
QHeaderView, QLineEdit, QListView, QMainWindow, QMenu, QProgressBar, 
QPushButton, QRadioButton, QScrollBar, QSizeGrip, QSlider, QSpinBox, QSplitter, 
QStatusBar, QTabWidget, QTabBar, QTableView, QToolBar, QToolBox, QToolButton, 
QToolTip, QTreeView, QLabel
*/
/* set for all, rollbacking the qmenubar change for font size fix */
* {
font-size: 12px;
/* font-family:Arial; */
}
/* AJ2D12510: 20090918: karthik: end */

/* ========== QDialog ========== */
QDialog {	
	 background-image: url("./skin/default/images/uiplugin_bg.png")
}
QTableWidget {	
	border-image: url(./skin/default/images/tree_widget_bg_line_top_curve_box.png) 2 2 2 2;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	background: white;
	
}


/* ========== QMenuBar ========== */
QMenuBar, QMenuBar::item {
    background-image: url(./skin/default/images/menu_bg.png);
  
}
/*QMenuBar::item:selected { border-image: url(./skin/default/images/menu_bar_button_hover.png); }
QMenuBar::item:pressed { border-image: url(./skin/default/images/menu_bar_button_sel.png); }*/

/* ========== QMenu ========== */

QMenu {
    background-image: url(./skin/default/images/menu_popup_bg.png);
    border-image: url(./skin/default/images/edit_ctrl_border_line_box.png) 1 1 1 1;
    border-top-width: 1px transparent;
    border-right-width: 1px transparent;
    border-bottom-width: 1px transparent;
    border-left-width: 1px transparent;
    /* background-color: white; */
    /* margin: 2px; some spacing around the menu */
}

QMenu::item {
    padding: 2px 25px 2px 20px;
    /* border: 1px solid transparent; */ /* commented for ... in debian and xandros */ /* reserve space for selection border */
}

/* 20091224: deepa: menu seperator fix */
 QMenu::separator {
     border-image: url("./skin/default/images/menu_seperator.png");
     height: 2px;
 }
QMenu::item:selected 	{ background-image: url(./skin/default/images/menu_bg.png); color: white; }
QMenu::indicator 		{ image: url(./skin/default/images/menu_check.png); }
QMenu::right-arrow		{ image: url(./skin/default/images/menu_expand.png); }

/* Ashwin: Begin BT1725 fix - Disabled Menu Items in the Right Click Menu doesnt appear gray in Mac */
QMenu::item:!enabled {color:gray; }
/* Ashwin: End BT1725 fix - Disabled Menu Items in the Right Click Menu doesnt appear gray in Mac */

  /* ========== QHeaderView ==========    */ 
 /* karthik, A56D14282, 20090819, begin: fixed by ashwin */
 QHeaderView {    
    border-image: url(./skin/default/images/table_header_bg.png);   
 }
 /* karthik, A56D14282, 20090819, end */

 QHeaderView::section {
    border-image: url(./skin/default/images/table_header_bg.png);   
    /* padding-left: 12px; */   /* bt: 0002286 fix: The header of phonebook is not proper in the arabic lanuage */
    padding-left: 2px;          /* bt: 0002286 fix: The header of phonebook is not proper in the arabic lanuage */
 }
 
 
 QHeaderView::section:hover {
    border-image: url(./skin/default/images/table_header_hover.png);   
 }
 
 QHeaderView::section:pressed {
    border-image: url(./skin/default/images/table_header_press.png);     
 }
   
 QHeaderView::section::margin 
 {  
  image: url(./skin/default/images/table_header_separator.png);  
  image-position: right;  
 }
 
 QHeaderView::down-arrow {
   subcontrol-position: right;
   image: url(./skin/default/images/table_header_arrow_down.png);
   /* padding-right: 3px; */    /* bt: 0002286 fix: The header of phonebook is not proper in the arabic lanuage */
   padding: 5px;                /* bt: 0002286 fix: The header of phonebook is not proper in the arabic lanuage */
 }
  
 QHeaderView::up-arrow {   
   subcontrol-position: right;
   image: url(./skin/default/images/table_header_arrow_up.png);   
   /* padding-right: 3px; */    /* bt: 0002286 fix: The header of phonebook is not proper in the arabic lanuage */
   padding: 5px;                /* bt: 0002286 fix: The header of phonebook is not proper in the arabic lanuage */
 }





/*=============MainToolBar============*/
*#MainToolBarUIPlugin_CustomToolBar			{ background-image: url(./skin/default/images/tool_bar_bg.png); }

/*==================QToolButton=======================*/
QToolBar QToolButton {  color: white; spacing: 0px;
      border-image: url(./skin/default/images/transparence.png);}
QToolBar QToolButton:hover 					{ border-image: url(./skin/default/images/unsel_button.png); }
QToolBar QToolButton:checked 					{ border-image: url(./skin/default/images/sel_button.png);  }
QToolBar QToolButton:pressed 					{ border-image: url(./skin/default/images/sel_button.png); }

/* Skin issue on toolbar extension arror: Begin */
*#qt_toolbar_ext_button             { border-image: url(./skin/default/images/toolbar_arrow_normal.png); padding: 7px; }
*#qt_toolbar_ext_button:hover 		{ border-image: url(./skin/default/images/toolbar_arrow_hover.png); padding: 7px;}
*#qt_toolbar_ext_button:checked 	{ border-image: url(./skin/default/images/toolbar_arrow_press.png); padding: 7px; }
/* Skin issue on toolbar extension arror: End */

/* The mini tool bar skin customization begin */
*#ToolBar { 
	border-image: url(./skin/default/images/uiplugin_bg.png); 
	padding: 6px;
}

*#ToolBar:hover { 
	border-image: url(./skin/default/images/tool_child_press.png); 
	padding: 6px;
}

*#ToolBar:pressed { 
	border-image: url(./skin/default/images/tool_child_hover.png); 
	padding: 6px;
}

/* to remove the menu indicator in the toolbar */
*#ToolBar::menu-indicator {
image:none
 }
/* The mini tool bar skin customization end */

/*=============QCheckBox============*/
/* 20091214: huliangjun: add */

 
/*=============QRadioButton============*/
	/* 20091214: huliangjun: add */

/*=============QPush Button ============*/

/*skf39948 modify begin 2011-3-11*/
/*===============QGroupBox================*/
/*
 QGroupBox { border: 1px solid rgb(3, 90, 152); margin-top: 3ex; border-radius: 3px;}
 */
QGroupBox { 
	    border-top-width: 3px;
	    border-right-width: 2px;
	    border-bottom-width: 2px;
	    border-left-width: 2px; 
	    margin-top: 1ex;             
             }
             
 QGroupBox::title {
   subcontrol-origin: margin;
   left: 5px;
   top: 1px;
 }
 /*skf39948 modify end 2011-3-11*/
 
 /*=============QLineEdit============*/
 QLineEdit {    
     
     border-top-width: 1px;
     border-right-width: 1px;
     border-bottom-width: 1px;
     border-left-width: 1px; */
 }
 
 /* QLineEdit[echoMode="2"] {
     lineedit-password-character: 9679;
 } */   /* 20091214: karthik: removing showing big Os in password field */
 

 QLineEdit:!editable {
     border-width: 1px;
     border-style: solid;
    
/* A56D14604 fix: In line edit, cursor position is not from the first */     
/*     padding: 0 4px;*/
    
}


/*
 QGroupBox { border: 1px solid rgb(3, 90, 152); margin-top: 3ex; border-radius: 3px;}
 */

 QGroupBox { 
	    border-top-width: 3px;
	    border-right-width: 2px;
	    border-bottom-width: 2px;
	    border-left-width: 2px; 
	    margin-top: 1ex;             
             }
             
 QGroupBox::title {
   subcontrol-origin: margin;
   left: 5px;
   top: 1px;
 }
 

/*=============QCombobox============ */
QComboBox {
     min-height: 18px;   
     border-top-width: 2px;
     border-right-width: 2px;
     border-bottom-width: 2px;
     border-left-width: 2px; 
     
     selection-background-color: rgb(10, 36, 106);    
 }
 

QComboBox QAbstractItemView {
     
     border: 2px solid darkgray;
    
 }

QComboBox:on {
     padding-top: 3px;
     padding-left: 4px;
 }
  
QComboBox:!enabled {
     background-color: rgb(231, 231, 231);    
}




 
 /*=============QTabWidget============  */
  QTabWidget::pane {  
    
     border-top-width: 2px transparent;
     border-right-width: 2px transparent;
     border-bottom-width: 2px transparent;
     border-left-width: 2px transparent;
 }

QTabWidget::tab-bar
{
    alignment: left;
}

/*=============QTabBar============*/
 /* Style the tab using the tab sub-control. Note that
     it reads QTabBar _not_ QTabWidget */
     

 QTabBar::tab:!selected {
     margin-top: 1px; /* make non-selected tabs look smaller */  
 }
 
 
 QTabBar::tab:first {
  
     border-top-width: 3px;
     border-right-width: 3px;
     border-bottom-width: 3px;
     border-left-width: 3px;   
     min-height: 16px; 
 }
 
 QTabBar::tab:last {

     border-top-width: 3px;
     border-right-width: 3px;
     border-bottom-width: 3px;
     border-left-width: 3px; 
     min-height: 16px;    
 }
 
 QTabBar::tab:middle {

        	
     border-top-width: 3px;
     border-right-width: 3px;
     border-bottom-width: 3px;
     border-left-width: 3px; 
     min-height: 16px;    
 }

 QTabBar::tab:selected {     
     color: black;
     	
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;	
	min-height: 16px; 
 } 
 
 

 
 
 /*===============QProgressBar=======================*/

 QProgressBar {
     
     border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;	
	height: 15px;
	text-align: center;
 }


/* 20091214: huliangjun: add: begin */
 /*===============QLabel=======================*/
 QLabel {
     color: rgb(0, 0, 0);
 }
/* 20091214: huliangjun: add: end */

/*=============*#NetInfoSettingDlg_dateeditSetDate============ */
*#NetInfoSettingDlg_dateedit {
    
     border-top-width: 2px;
     border-right-width: 2px;
     border-bottom-width: 2px;
     border-left-width: 2px; 

 }
 
 *#NetInfoSettingDlg_dateedit:!enabled {
      background-color: rgb(231, 231, 231);    
 }
 
